/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS Variables*/
:root {
    --primary-font: "Playfair Display", sans-serif;
    --secondary-font: "Great Vibes", roboto;
    --primary-color: #2E3708; /*blind forest*/
    --secondary-color: white; 
    --highlight-color: #BAB723; /*pickled limes*/
    --background-color: #9BAA43; /*ogryn camo*/
}

body {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
    padding-top: 70px;
}
h1 {
    font-family: var(--primary-font), roboto;
    color: var(--primary-color);
}

/*Logo*/
.navbar .logo {
    height: 50px;
    width: auto;
}

/*Navbar*/
.custom-navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--secondary-color);
}

.navbar-brand:hover {
    color: var(--highlight-color);
}

.custom-text {
    color: var(--secondary-color);
}

.navbar-nav .custom-text.active {
    color: var(--secondary-color);
}

.navbar-nav .custom-text.active:hover {
    color: var(--highlight-color); 
}

.custom-text:hover {
    color: var(--highlight-color);
}

.custom-button {
    color: var(--secondary-color);
}

.custom-button:hover {
    color: var(--highlight-color);
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.3);
}

/*hero*/
#hero {
    background-image: url(../images/hero-image.webp);
    background-size: cover;
    background-position: 50% 90%;
    min-height: 500%;
    padding: 5% 7%;
}

header#hero h1 {
    color: var(--secondary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

header#hero p {
    color: var(--secondary-color);
    background-color: rgba(155, 170, 67, 0.7);
    padding: 2px;
    display: inline-block;
}

a.btn:hover {
    background-color: var(--highlight-color);
    color: white;
    border-color: var(--highlight-color);
}

/*Contact*/
#contactUs {
    margin-bottom: 50px;
}

/*Booking Form*/
#booking-form {
    margin-bottom: 80px;
    margin-top: 40px;
}

.custom-background {
    background-color: var(--background-color);
}

/*Booking Confirmation*/
#bookingConfirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
}

/* opening times */
.table.table-dark {
    background-color: transparent;
}

.table.table-dark th,
.table.table-dark td {
    color: var(--primary-color);
    background-color: transparent;
}

.custom-table {
    width: 75%;
}

/*Gallery*/
.gallery img {
    width: 100%;
    height: auto;
    max-width: 600px;
    object-fit: cover;
}

/*Footer*/
.container-fluid {
    background-color: #2E3708; /*blind forest*/
    padding-top: 6px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #BAB723; /*pickled limes*/
}