/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS Variables*/
:root {
    --primary-font: "Playfair Display", sans-serif;
    --secondary-font: "Great Vibes", roboto;
    --primary-color: #2E3708; /*blind forest*/
    --secondary-color: white; 
    --highlight-color: #BAB723; /*pickled limes*/
}

body {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
}
h1 {
    font-family: var(--primary-font), roboto;
    color: var(--primary-color);
}

/*Navbar*/
.custom-navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: var(--secondary-color);
}

.navbar-brand:hover {
    color: var(--highlight-color);
}

.custom-text {
    color: var(--secondary-color);
}

.navbar-nav .custom-text.active {
    color: var(--secondary-color);
}

.navbar-nav .custom-text.active:hover {
    color: var(--highlight-color); 
}

.custom-text:hover {
    color: var(--highlight-color);
}

.custom-button {
    color: var(--secondary-color);
}

.custom-button:hover {
    color: var(--highlight-color);
}

/*hero*/
#hero {
    background-image: url(../images/hero-image.png);
    background-size: cover;
    background-position: 50% 65%;
    min-height: 500%;
    padding: 5% 7%;
}

header#hero p {
    color: var(--secondary-color);
    background-color: rgba(155, 170, 67, 0.5);
    padding: 2px;
    display: inline-block;
}

a.btn:hover {
    background-color: var(--highlight-color);
    color: white;
    border-color: var(--highlight-color);
}

/*Booking Form*/
.custom-background {
    background-color: #9BAA43;
}

/* Modal */
#confirmationModal {
    color: black;
}
#confirmationModalLabel {
    color: black;
}

/* opening times */
.table.table-dark {
    background-color: transparent;
}

.table.table-dark th,
.table.table-dark td {
    color: var(--primary-color);
    background-color: transparent;
}

.custom-table {
    width: 75%;
}

/*Gallery*/
.gallery img {
    width: 90%;
    height: 200px;
    object-fit: cover;
}

/*Footer*/
.container-fluid {
    background-color: #2E3708; /*blind forest*/
    padding-top: 6px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #BAB723; /*pickled limes*/
}