/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", sans-serif;
    color:blueviolet;
}
h1 {
    font-family: "Great Vibes", roboto;
}

/*Navbar*/
.custom-navbar {
    background-color: #2E3708;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color:#BAB723;
}

.custom-text {
    color: white;
}

.navbar-nav .custom-text.active {
    color: white;
}

.navbar-nav .custom-text.active:hover {
    color: #BAB723; 
}

.custom-text:hover {
    color:#BAB723;
}

.custom-button {
    color: white;
}

.custom-button:hover {
    color:#BAB723;
}

/*Footer*/
.container-fluid {
    background-color: #2E3708; /*blind forest*/
    padding-top: 6px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #BAB723; /*pickled limes*/
}